
.page1{
  width: 100%;
}

.opening-text{
  max-width: 70%;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
}

.mainTitle{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3em;
}

.arrayTitles{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5em;
}

.static-paragraph{
  text-align: center;
}

.noga{
  font-size: 2.5em;
  line-height: 0;
}

.noga-subtitle{
  font-size: 1em;
}

.noga-description{
  font-size: 0.5em;
  text-align: left;
  width: 50%;
  margin: 1em auto;
}

  /*********** desktop  **********/
  @media only screen and (min-width: 800px) {
    .opening-text{
      margin: 15% auto;
    }

    .static-paragraph{
      margin: 13% 10%;
    }
  }

/*********** mobile  **********/
  @media only screen and (max-width: 800px) {
    .opening-text{
      margin: 50% auto;
    }

    .static-paragraph{
      margin: 56% 10%;
    }
  }